
:root {
	--cor0: #F7AB05;
	--cor1: #08D5FF;
	--cor2: #0787E0;
	--cor3: #055AF7;
	--cor4: #081ba5e1;
	--cor5: #2908FC;
 
	--font-padrao: Arial, Verdana, Helvetica, sans-serif;
	--font-destaque: 'Bebas Neue', cursive;
	--font-android: 'Android', cursive;
 
 }


* {
	margin: 0;
	padding: 0;
}

body {
	background: var(--cor3);
	font-family:Arial, Helvetica, sans-serif ;
	padding: 0;
	margin: 0;
}

/*header {
	margin: 0 auto;
	width: auto;
	position: static;
	height: 100px;
	background-color: rgb(117, 117, 117);
}*/




div#foto {
	padding: 5px;
}
#foto-minha {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}


nav {
	background-color: var(--cor4);
	padding: 15px 15px 10px 15px;
	height: 90px;
}
nav > ul {
	list-style: none;
	margin-top: 60px;
}

nav > ul > li {
	border-radius: 5px;
	display: inline;
}

nav > ul > li > a {
	background-color: #002363;
	text-decoration: none;
	padding: 5px;
	font-size: 19px;
	border-radius: 5px;
	color: white;
}

li a:hover {
	background-color: #071AE0;
	border-radius: 5px;
	color: white;
}

main {
	padding: 1px;
	width: 80%;
	margin: auto;
}

section {
	margin-top: 0px;
	background-color: white;
	width: auto;
	height: 1000px;
	text-align: justify;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}
/* =INICIO SECTION1= */
#section1 > h1 {
	text-align: center;
	font-family: var(--font-destaque);
	font-size: 50px;
	background-image: linear-gradient(to right, #1c2b3fa8, white);
}

section#section1 > p {
	text-align: justify;
	font-weight: bold;
	padding: 3px;
	font-family: var(--font-padrao);
}

section#section1 > p::first-letter {
	text-transform: capitalize;
}
/* =FIM SECTION2= */


/* ==COMEÇO SECTION 2== */
section#section2 {
	
}

section#section2 > h1 {
	font-family: var(--font-destaque);
	font-size: 80px;
	text-align: center;
}

div#imagem-github {
	padding: 8px;
	height: 50%;
	background-attachment: fixed;
	background-image: url(../imagens/github1.png);
}

#section2 > p {
	text-align: center;
	font-family: var(--font-destaque);
	font-size: 30px;
}

section#section2 > p > a {
	text-decoration: none;
	color: #1c2b3f;
}

div#divbotao {
	margin: auto;
	width: 100px;
}

div#divbotao > button > a {
	color: #1c2b3f;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

div#divbotao > button > a:hover {
	color: #ced2d8;
	text-decoration: none;
}

div#divbotao > button > a:active {
	color: #1eaeda;
	text-decoration: underline;
}


/* =FIM SECTION2== */

footer {
	text-align: center;
}