body {
  margin: 0;
  padding: 0;
  background-color: #0559F7;
  font-family:Arial, Helvetica, sans-serif !important;
}

#principal{
  border-radius: 10px;
  text-align: center;
  padding:10px;
  background-color: white;
  width: auto;
  max-width: 300px;
  height: 400px;
  max-height: 400px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}

a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

h4 {
  padding: 0;
  margin:0;
  margin-bottom: 10px;
}

#esqueceu {
  margin-top: 8px;
}

#senha {
  margin-top: 10px
}

#outros-login a{
  color: black
}

#outros-login h5 {
  margin-top: 20px;
  margin-bottom: 5px;
}

ion-icon {
  font-size: 32px;
}
/*
ion-icon:active {
  color: rgb(13, 13, 136);
}
*/
#logo-google:active{
  color:#db4a39;
}

#logo-twitter:active {
  color: #00acee;
}

#logo-facebook:active {
  color: #3b5998;
}

/*BOTAO LOGIN*/
#entrar-button {
  background-color: #0559F7;
  border: none;
  width: 100px;
  height: 30px;
  box-shadow: 5px 5px 10px rgba(78, 78, 78, 0.555);
  color: rgb(255, 255, 255);
  border-radius: 4px;
}

#entrar-button:active {
  background-color: #071AE0;
  border: none;
  width: 100px;
  height: 30px;
  box-shadow: 5px 5px 10px rgba(78, 78, 78, 0.555);
  color: rgb(0, 0, 0);
  border-radius: 4px;
}
/*FIM BOTAO LOGIN*/


input[type=text]{
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 4px;
  width: 200px;
  height: 25px;
}
input[type=password]{
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 4px;
  width: 200px;
  height: 25px;
}

/*RODAPE*/
footer a {
  text-decoration: none;
  color: #F7AB05;
}
footer {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
/*FIM RODAPE*/